template
	label.label(class="${required && !isValid ? 'has-text-danger' : ''} ${isOverrideInvalid ? 'has-text-danger': ''}") ${label}
		span.sub-label(if.bind='instructions') ${instructions}
	.control.has-icons-left(ref="_formGroup")
		input.input(placeholder.bind="placeholder" disabled.bind="disabled" type="number" change.delegate="_changed($event)" input.bind="input($event)" value.bind="item", class="${required && !isValid ? 'is-danger' : ''} ${isOverrideInvalid ? 'is-danger': ''}")
		span.icon.is-left
			i.fa.fa-usd
	p.help.is-danger(if.bind='required && !isValid') ${errorMsg}
	p.help.is-warning(if.bind='isWarning') ${warningMsg}